<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>  
-->

<ion-content [fullscreen]="true">

  <div class="login-container center-content">

    <ion-card class="wide-card">

      <ion-card-header>

        <img src="assets/logo.png"  class="logo">
  
      </ion-card-header>

      <ion-card-content>

        <ion-item>
          <ion-label class="custom-label" position="stacked">Correo electrónico</ion-label> 
          <ion-input class="border-input" type="email"></ion-input> 
        </ion-item>

        <ion-item>
          <ion-label class="custom-label" position="stacked">Contraseña</ion-label> 
          <ion-input class="border-input" type="password"></ion-input>
        </ion-item>

         
        <ion-button expand="block" fill="solid" shape="round" class="custom-button-top custom-button-bottom">Iniciar sesión</ion-button>
        <ion-button expand="block" fill="outline" shape="round" class="custom-button-bottom">Registrarse</ion-button>

        <ion-text class="text-center">
          <a href="">Olvidaste tu contraseña</a>
        </ion-text>

      </ion-card-content>
    </ion-card>  
  </div>
</ion-content>


