<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      TecnoFábulas
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true"> 

  <div id="container">
    <!--logo para animación-->
    <img src="assets/logo.png"  class="logo">
    <!--logo para animación-->

    <h1 class="titulo">Bienvenido!</h1>
    <h3 class="subtitulo">Usuario: {{usuarioRecibido}}</h3>
    

    <!--CARD-->
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">Información adicional</ion-card-title>        
      </ion-card-header>
    
      <ion-card-content>

        <!--Input Nombre-->
        <ion-item class="ion-margin-top ion-margin-bottom custom-input">
          <!--<ion-label position="stacked">Nombre</ion-label> -->
          <ion-input label="Nombre: " type="text" [(ngModel)] = "nombre" [ngClass]="{'animate-input': animar}"></ion-input> 
        </ion-item>
        
        <!--Input Apellido-->
        <ion-item class="ion-margin-top ion-margin-bottom custom-input">
          <!--<ion-label position="stacked">Apellido</ion-label> -->
          <ion-input label="apellido: " type="text" [(ngModel)] = "apellido" [ngClass]="{'animate-input': animar}"></ion-input> 
        </ion-item>

        <ion-list>
          <ion-item class="ion-margin-top ion-margin-bottom custom-input">
            <ion-select
              class="always-flip"
              toggleIcon="caret-down-sharp"
              interface="popover"
              label="Nivel de eduación"
              placeholder="Seleccione nivel"
            >
              <ion-select-option value="basica">Enseñanza básica</ion-select-option>
              <ion-select-option value="media">Enseñanza media</ion-select-option>
              <ion-select-option value="superior">Técnica/universitaria</ion-select-option>
            </ion-select>
          </ion-item>
          </ion-list>

          <!--Fecha de nacimiento-->
          <ion-item class="ion-margin-top ion-margin-bottom custom-input">
            <!--<ion-label position="stacked">Fecha de nacimiento</ion-label> -->
            <ion-input label="Fecha nacimiento: " type="text" [value]="fechaSeleccionada | date: 'dd/MM/yyyy'" placeholder="Selecciona fecha" readonly></ion-input> 
          

          <a (click)="abrirCalendario()">
            <img src="assets/calendario.png" class="calendar-icon">
          </a>
          
        </ion-item>

       
              <ion-datetime
              *ngIf="mostrarCalendario" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"
              presentation="date"
              [(ngModel)] ="fechaSeleccionada"
              (ionChange)="abrirCalendario()">              
    
            </ion-datetime>         
        
       
       
        
         
         

      </ion-card-content>
    </ion-card>
    <!--CARD-->

     <!--Botones-->
     <ion-button (click)="limpiarInputs()" fill="solid" shape="round" class="custom-button custom-button-right">Limpiar</ion-button>
     <ion-button (click)="setOpen(true)" fill="solid" shape="round" class="custom-button">Mostrar</ion-button>
     <ion-alert
      [isOpen]="isAlertOpen"
      header="USUARIO"      
      message="Su nombre es {{nombre}} {{apellido}}"
      [buttons]="alertButtons"
      (didDismiss)="setOpen(false)"
></ion-alert>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>App desarrollada por Andrea Vilches N.</ion-title>
  </ion-toolbar>
</ion-footer>